In [5]:
import pandas as pd

import dependencies

In [11]:
path_input = dependencies.rootFolder / 'data' / 'raw'
path_output = dependencies.rootFolder / 'data' / 'processed'

In [15]:
df_camiones = pd.read_excel(
    path_input / 'BASE DE DATOS 2022 PRUEBA.xlsx',
    sheet_name='Lista de camiones',
    usecols='A:D'
)

In [10]:
df_camiones

   VEHÍCULO   WILAYA modelo   ESTADO
0      CC53    Aaiun   VOLVO     NaN
1      CC54    Aaiun   VOLVO     NaN
2      CC55    Aaiun   VOLVO     NaN
3      CC56    Aaiun   VOLVO     NaN
4      CC57    Aaiun   VOLVO     NaN
..      ...      ...     ...     ...
79    CR219    Smara     MAN     NaN
80    CR223    Smara     MAN     NaN
81    CR224    Smara     MAN     NaN
82    CR225  Bojador     MAN     NaN
83    CR226    Dajla     MAN     NaN

[84 rows x 4 columns]

In [12]:
df_camiones.to_csv(path_output / "Camiones.csv")

In [16]:
df_camiones = df_camiones["ESTADO"]