In [28]:
import pandas as pd

import dependencies

import os

import numpy as np

In [29]:
path_input = dependencies.rootFolder / 'data' / 'raw'
path_output = dependencies.rootFolder / 'data' / 'processed'
path_input_prev = dependencies.rootFolder / 'data' / 'historico_taller' / 'preventivas'
path_input_corr = dependencies.rootFolder / 'data' / 'historico_taller' / 'correctivas'

### MIRAR EL TALLER EN LA TABLA OT Y EL CAMION

## IMPORTAR MAESTROS

In [30]:
df_tipo_ot = pd.read_csv(path_output / "tipo_ot.csv")
df_frecuencia = pd.read_csv(path_output / "frecuencia.csv")
df_tipo_taller = pd.read_csv(path_output / "tipo_taller.csv")
df_averia = pd.read_csv(path_output / "averia.csv")
df_taller = pd.read_csv(path_output / "taller.csv")
df_repuesto = pd.read_csv(path_output / "repuesto.csv")
df_mecanico = pd.read_csv(path_output / "mecanico.csv")
df_camion = pd.read_csv(path_output / "camion_monica.csv")

# OT

## Historico de OT Correctivo

In [31]:
#Lista para almacenar los datos del historico
data_list_corr = []

#Bucle para leer los archivos de excel de la carpeta y almacenar los datos en la lista data
for file_name in os.listdir(path_input_corr):
	if file_name.endswith('.xlsx'): #si es un excel
		data_list_corr.append(pd.read_excel(
            path_input_corr / file_name,
            sheet_name='BaseDatosCorrectiva',
            usecols='A, C, I, K, R:AD, AF, AG',
            skiprows=4,
            parse_dates=['fecha_inicio', 'fecha_fin'],
            names=['camion', 'ot', 'fecha_inicio', 'fecha_fin', 'chasis', 'carroceria', 'ruedas', 
            'mecanica', 'elec, vehiculos', 'obra civil', 'agua y combustible', 'herramientas',
            'informatica', 'exteriores', 'aire', 'maquinaria', 'electricidad', 'descripcion', 'observacion']
        ))

#Se combinan los datos y se pasan a Dataframe
df_ot_corr = pd.concat(data_list_corr, axis=0, ignore_index=True)

#Se eliminan las filas con valores nan en todas las columnas
df_ot_corr.dropna(how='all', inplace=True)
df_ot_corr.dropna(subset=['ot'], inplace=True) #si no tiene numero de ot tampoco tiene informacion
df_ot_corr.dropna(subset=['camion'], inplace=True) #camiones que son vacios y su informacion tambien

# #Se cambian los datos erroneos
df_ot_corr.loc[1224,'fecha_inicio'] = '2022-06-30'
df_ot_corr.loc[1294,'fecha_inicio'] = '2022-08-16'
df_ot_corr.loc[1295,'fecha_inicio'] = '2022-08-16'

df_ot_corr.loc[1477,'fecha_fin'] = '2023-01-08'
df_ot_corr.loc[1487,'fecha_fin'] = '2023-01-14'

#Se limpian los datos
df_ot_corr['ot'] = df_ot_corr['ot'].astype(int)

df_ot_corr['camion'] = df_ot_corr['camion'].str.lstrip()
df_ot_corr['camion'] = df_ot_corr['camion'].str.rstrip()
df_ot_corr['camion'] = df_ot_corr['camion'].str.capitalize()

df_ot_corr['fecha_inicio'] = pd.to_datetime(df_ot_corr['fecha_inicio'])

df_ot_corr['fecha_fin'] = pd.to_datetime(df_ot_corr['fecha_fin'])

df_ot_corr['descripcion'] = df_ot_corr['descripcion'].str.lstrip()
df_ot_corr['descripcion'] = df_ot_corr['descripcion'].str.rstrip()
df_ot_corr['descripcion'] = df_ot_corr['descripcion'].str.capitalize()

df_ot_corr['observacion'] = df_ot_corr['observacion'].str.lstrip()
df_ot_corr['observacion'] = df_ot_corr['observacion'].str.rstrip()
df_ot_corr['observacion'] = df_ot_corr['observacion'].str.capitalize()

df_ot_corr = df_ot_corr.drop_duplicates() #Eliminar los duplicados ya que no tienen ninguna informacion adicional

#Se resetea el index por los valores eliminados
df_ot_corr = df_ot_corr.reset_index()

df_ot_corr = df_ot_corr.sort_values('fecha_inicio')

#df_ot_corr

c:\Users\PaulaVieira\OneDrive - LIS Data Solutions\Escritorio\Proyecto\attsf-ordenes-de-trabajo\.env\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\PaulaVieira\OneDrive - LIS Data Solutions\Escritorio\Proyecto\attsf-ordenes-de-trabajo\.env\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\PaulaVieira\OneDrive - LIS Data Solutions\Escritorio\Proyecto\attsf-ordenes-de-trabajo\.env\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [32]:
#Crear una columna de frecuencia = 'No frecuencia'
df_ot_corr['frecuencia'] = 'No frecuencia'

#Crear una columna de tipo_ot = 'Correctivo'
df_ot_corr['tipo_ot'] = 'Correctivo'

#Se define el dataframe de ot averia (se usara mas adelante)
df_ot_averia = df_ot_corr[['ot', 'chasis', 'carroceria', 'ruedas', 
            'mecanica', 'elec, vehiculos', 'obra civil', 'agua y combustible', 'herramientas',
            'informatica', 'exteriores', 'aire', 'maquinaria', 'electricidad']]
#ELIMINAR CUANDO SE TENGAN LOS DATOS DE OT ya que es un ot averia provisional con los camiones con numero
df_ot_averia_camion = df_ot_corr[['ot', 'chasis', 'carroceria', 'ruedas', 
            'mecanica', 'elec, vehiculos', 'obra civil', 'agua y combustible', 'herramientas',
            'informatica', 'exteriores', 'aire', 'maquinaria', 'electricidad']]

#Se toman las columnas deseadas
df_ot_corr = df_ot_corr[['ot', 'camion', 'frecuencia', 'tipo_ot', 'fecha_inicio', 'fecha_fin', 'descripcion', 'observacion']]

#df_ot_corr

## Historico de OT Preventivo

In [33]:
#Lista para almacenar los datos del historico
data_list_prev = [ ]

#Bucle para leer los archivos de excel de la carpeta y almacenar los datos en la lista data
for file_name in os.listdir(path_input_prev):
	if file_name.endswith('.xlsx'): #si es un excel
		data_list_prev.append(pd.read_excel(
            path_input_prev / file_name,
            sheet_name='OTP',
            usecols='A, C:D, I, K, P:AD, AE, AH',
            skiprows=5,
            parse_dates=['fecha_inicio', 'fecha_fin'],
            names=['camion', 'ot', 'frecuencia', 'fecha_inicio', 'fecha_fin', 'aceite', 'anticongelante', 'embrague', 
            'h direccion', 'baterias', 'l freno', 'a. caja', 'a/destil', 'ruedas', 'lamparas', 'd/tacgfo', 's. lava',
            'j. carroceria', 'calcho', 'grasa', 'descripcion', 'observacion']
        ))

#Se combinan los datos y se pasan a Dataframe
df_ot_prev = pd.concat(data_list_prev, axis=0, ignore_index=True)

#Se eliminan las filas con valores nan en todas las columnas
df_ot_prev.dropna(how='all', inplace=True)
df_ot_prev.dropna(subset=['ot'], inplace=True) #si no tiene numero de ot tampoco tiene informacion
df_ot_prev.dropna(subset=['camion'], inplace=True) #camiones que son vacios y su informacion tambien

#Se cambian los nan por un tipo de frecuencia 'No frecuencia'
df_ot_prev['frecuencia'] = df_ot_prev['frecuencia'].fillna('No frecuencia')

#Se limpian los datos
df_ot_prev['ot'] = df_ot_prev['ot'].astype(int)

df_ot_prev['camion'] = df_ot_prev['camion'].str.lstrip()
df_ot_prev['camion'] = df_ot_prev['camion'].str.rstrip()
df_ot_prev['camion'] = df_ot_prev['camion'].str.capitalize()

df_ot_prev['frecuencia'] = df_ot_prev['frecuencia'].str.lstrip()
df_ot_prev['frecuencia'] = df_ot_prev['frecuencia'].str.rstrip()
df_ot_prev['frecuencia'] = df_ot_prev['frecuencia'].str.capitalize()

df_ot_prev['descripcion'] = df_ot_prev['descripcion'].str.lstrip()
df_ot_prev['descripcion'] = df_ot_prev['descripcion'].str.rstrip()
df_ot_prev['descripcion'] = df_ot_prev['descripcion'].str.capitalize()

df_ot_prev['observacion'] = df_ot_prev['observacion'].str.lstrip()
df_ot_prev['observacion'] = df_ot_prev['observacion'].str.rstrip()
df_ot_prev['observacion'] = df_ot_prev['observacion'].str.capitalize()

#Se quitan los duplicatos (solo es uno y es exactamente igual)
df_ot_prev = df_ot_prev.drop_duplicates()

#Se resetea el index por los valores eliminados
df_ot_prev= df_ot_prev.reset_index()

#df_ot_prev

c:\Users\PaulaVieira\OneDrive - LIS Data Solutions\Escritorio\Proyecto\attsf-ordenes-de-trabajo\.env\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\PaulaVieira\OneDrive - LIS Data Solutions\Escritorio\Proyecto\attsf-ordenes-de-trabajo\.env\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\PaulaVieira\OneDrive - LIS Data Solutions\Escritorio\Proyecto\attsf-ordenes-de-trabajo\.env\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [34]:
#Crear una columna de tipo_ot = 'Preventivo'
df_ot_prev['tipo_ot'] = 'Preventivo'

#Se define el dataframe de ot repuesto (se usara mas adelante)
df_ot_repuesto = df_ot_prev[['ot', 'aceite', 'anticongelante', 'embrague', 
            'h direccion', 'baterias', 'l freno', 'a. caja', 'a/destil', 'ruedas', 'lamparas', 'd/tacgfo', 's. lava',
            'j. carroceria', 'calcho', 'grasa']]
#ELIMINAR CUANDO SE TENGAN LOS DATOS BUENOS DE OT
df_ot_repuesto_camion = df_ot_prev[['ot', 'aceite', 'anticongelante', 'embrague', 
            'h direccion', 'baterias', 'l freno', 'a. caja', 'a/destil', 'ruedas', 'lamparas', 'd/tacgfo', 's. lava',
            'j. carroceria', 'calcho', 'grasa']]

#Se toman las columnas deseadas
df_ot_prev = df_ot_prev[['ot', 'camion', 'frecuencia', 'tipo_ot', 'fecha_inicio', 'fecha_fin', 'descripcion', 'observacion']]

#df_ot_prev

# Union del historico de Correctivo y Preventivo

In [35]:
#concat o merge de ambos dataframes
df_ot = pd.concat([df_ot_corr, df_ot_prev], axis=0)

#Se toman las columnas deseadas
df_ot = df_ot[['ot', 'camion', 'frecuencia', 'tipo_ot', 'fecha_inicio', 'fecha_fin', 'descripcion', 'observacion']]

df_ot = df_ot.sort_values(by='fecha_inicio') #Ordenar por fecha

#Se quitan los indices anteriores ya que se repiten cada anho
df_ot.reset_index(names='id_attsf', inplace=True)
df_ot = df_ot.drop('id_attsf', axis=1)

#Columna de indices
df_ot.index += 1
df_ot.reset_index(names='id_ot', inplace=True)

#df_ot

id_ot                    int64
ot                       int32
camion                  object
frecuencia              object
tipo_ot                 object
fecha_inicio    datetime64[ns]
fecha_fin       datetime64[ns]
descripcion             object
observacion             object
dtype: object

# Merge con el resto de tablas

In [36]:
#Merge de ot e id_camion
#df_ot = pd.merge(df_ot, df_camion, how='left', on='camion')
#Eliminar columna camion
#df_ot = df_ot.drop('camion', axis=1)

#Merge de ot e id_taller
#df_ot = pd.merge(df_ot, df_taller.loc[:, ['id_taller', 'taller']], how='left', on='taller')
#Eliminar columna taller
#df_ot = df_ot.drop('taller', axis=1)

#Merge de ot e id_tipo_ot
df_ot = pd.merge(df_ot, df_tipo_ot, how='left', on='tipo_ot')
#Eliminar columna tipo_ot
df_ot = df_ot.drop('tipo_ot', axis=1)

#Merge de ot e id_frecuencia
df_ot = pd.merge(df_ot, df_frecuencia, how='left', on='frecuencia')
#Eliminar columna frecuencia
df_ot = df_ot.drop('frecuencia', axis=1)

#Columna de id_mecanico
df_ot['id_mecanico'] = pd.Series(dtype='int') #puede ser nan

#Se reordenan las columnas
df_ot = df_ot[['id_ot', 'ot', 'camion', 'id_tipo_ot', 'id_frecuencia', 'id_mecanico', 'fecha_inicio', 'fecha_fin', 'descripcion', 'observacion']]

camion_unicos = df_ot['camion'].unique()

df_ot

,id_ot,ot,camion,id_tipo_ot,id_frecuencia,id_mecanico,fecha_inicio,fecha_fin,descripcion,observacion
0,1,8011,Camión 10,1,1,NaN,2015-04-01,2021-05-02,Se cambio la reten de la corea + el mecanismo ...,NaN
1,2,5547,Camión 18,1,1,NaN,2015-05-13,2020-06-30,Se ha cambiado el comutador de luces,NaN
2,3,5548,Cisterna daf,1,1,NaN,2015-06-06,2020-06-30,Se ha montado todo la ballesta trasera tiene o...,NaN
3,4,6949,Camión 11,1,1,NaN,2017-07-26,2021-03-25,Se repararon pular,Desgasta en eja de balencin
4,5,7102,Instalaciones,1,1,NaN,2017-11-21,2021-03-03,Motor averiado no se ha podido poner en macha,NaN
...,...,...,...,...,...,...,...,...,...,...
2173,2174,8056,Instalaciones,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN
2174,2175,8057,Autorizados,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN
2175,2176,8058,Instalaciones,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN
2176,2177,8059,Camión 24,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN
2177,2178,9489,Gabarra 21,1,1,NaN,NaT,NaT,NaN,NaN

## OT de camiones con numero
#ELIMINAR CUANDO SE TENGAN LOS DATOS BUENOS DE OT

In [37]:
#Dataframe con los camiones con numero
df_ot_camion = df_ot[df_ot['camion'].str.contains('Camión')]

#Se toma solo el numero del camion
df_ot_camion['camion'] = df_ot_camion['camion'].apply(lambda x: 'CA' + x[7:])

#Quitar espacios
df_ot_camion['camion'] = df_ot_camion['camion'].str.strip()

#Merge con la tabla camion
df_ot_camion = pd.merge(df_ot_camion, df_camion.loc[:, ['id_camion', 'nombre_attsf']], how='left', left_on='camion', right_on='nombre_attsf')
#Se elimina la columna camion y nombre_attsf
df_ot_camion = df_ot_camion.drop('camion', axis=1)
df_ot_camion = df_ot_camion.drop('nombre_attsf', axis=1)

#Columna id_taller
df_ot_camion['id_taller'] = 1

#Se reordenan las columnas
df_ot_camion = df_ot_camion[['ot', 'id_camion', 'id_taller', 'id_tipo_ot', 'id_frecuencia', 'id_mecanico', 'fecha_inicio', 'fecha_fin', 'descripcion', 'observacion']]

#Columna de indices
df_ot_camion.index += 1
df_ot_camion.reset_index(names='id_ot', inplace=True)

df_ot_camion

C:\Users\PaulaVieira\AppData\Local\Temp\ipykernel_4628\1914176760.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ot_camion['camion'] = df_ot_camion['camion'].apply(lambda x: 'CA' + x[7:])
C:\Users\PaulaVieira\AppData\Local\Temp\ipykernel_4628\1914176760.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ot_camion['camion'] = df_ot_camion['camion'].str.strip()

,id_ot,ot,id_camion,id_taller,id_tipo_ot,id_frecuencia,id_mecanico,fecha_inicio,fecha_fin,descripcion,observacion
0,1,8011,73,1,1,1,NaN,2015-04-01,2021-05-02,Se cambio la reten de la corea + el mecanismo ...,NaN
1,2,5547,81,1,1,1,NaN,2015-05-13,2020-06-30,Se ha cambiado el comutador de luces,NaN
2,3,6949,74,1,1,1,NaN,2017-07-26,2021-03-25,Se repararon pular,Desgasta en eja de balencin
3,4,7584,78,1,1,1,NaN,2018-06-18,2021-05-01,Se realizo el trabajo,NaN
4,5,7726,75,1,1,1,NaN,2018-09-04,2021-05-01,Se coloco la rejulla de calendra,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1163,1164,7953,88,1,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN
1164,1165,7956,78,1,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN
1165,1166,7962,74,1,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN
1166,1167,8052,75,1,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN
1167,1168,8059,87,1,1,1,NaN,NaT,NaT,Se ha realizado la labor,NaN

# OT AVERIA

In [38]:
"""
#Se crea la lista de averias
df_tipo_averia = df_averia.drop('id_averia', axis=1)
df_tipo_averia['averia'] = df_tipo_averia['averia'].str.lower()
averias = df_tipo_averia['averia'].tolist()

#Se crea la tabla con el ot y las averias
df_otc_averia = df_ot_averia.rename(columns={'NºOTC': 'ot'}).dropna(subset='ot')

#Se juntas e invierten columnas
df_ot_averia = pd.melt(
    df_otc_averia,
    id_vars='ot',
    value_vars=averias
).dropna(subset='value').loc[:, ['ot', 'variable']].rename(columns={'variable': 'averia'})

#Se limpian los datos
df_ot_averia['averia'] = df_ot_averia['averia'].str.lstrip()
df_ot_averia['averia'] = df_ot_averia['averia'].str.rstrip()
df_ot_averia['averia'] = df_ot_averia['averia'].str.capitalize()

#df_ot_averia
"""

"\n#Se crea la lista de averias\ndf_tipo_averia = df_averia.drop('id_averia', axis=1)\ndf_tipo_averia['averia'] = df_tipo_averia['averia'].str.lower()\naverias = df_tipo_averia['averia'].tolist()\n\n#Se crea la tabla con el ot y las averias\ndf_otc_averia = df_ot_averia.rename(columns={'NºOTC': 'ot'}).dropna(subset='ot')\n\n#Se juntas e invierten columnas\ndf_ot_averia = pd.melt(\n    df_otc_averia,\n    id_vars='ot',\n    value_vars=averias\n).dropna(subset='value').loc[:, ['ot', 'variable']].rename(columns={'variable': 'averia'})\n\n#Se limpian los datos\ndf_ot_averia['averia'] = df_ot_averia['averia'].str.lstrip()\ndf_ot_averia['averia'] = df_ot_averia['averia'].str.rstrip()\ndf_ot_averia['averia'] = df_ot_averia['averia'].str.capitalize()\n\n#df_ot_averia\n"

In [39]:
"""
#MERGE
#Merge ot
df_ot_averia = pd.merge(df_ot_averia, df_ot.loc[:, ['id_ot', 'ot']], how='left', on='ot')
#Se elimina la columna ot
df_ot_averia = df_ot_averia.drop('ot', axis=1)

#Merge averia
df_ot_averia = pd.merge(df_ot_averia, df_averia, how='left', on='averia')
#Se elimina la columna averia
df_ot_averia = df_ot_averia.drop('averia', axis=1)


df_ot_averia
"""

"\n#MERGE\n#Merge ot\ndf_ot_averia = pd.merge(df_ot_averia, df_ot.loc[:, ['id_ot', 'ot']], how='left', on='ot')\n#Se elimina la columna ot\ndf_ot_averia = df_ot_averia.drop('ot', axis=1)\n\n#Merge averia\ndf_ot_averia = pd.merge(df_ot_averia, df_averia, how='left', on='averia')\n#Se elimina la columna averia\ndf_ot_averia = df_ot_averia.drop('averia', axis=1)\n\n\ndf_ot_averia\n"

# OT AVERIA NUM CAMION 
#ELIMINAR CUANDO SE TENGAN LOS DATOS DE OT

In [40]:
#ELIMINAR CUANDO SE TENGAN LOS DATOS DE OT
#Se crea la lista de averias
df_tipo_averia = df_averia.drop('id_averia', axis=1)
df_tipo_averia['averia'] = df_tipo_averia['averia'].str.lower()
averias = df_tipo_averia['averia'].tolist()

#Se crea la tabla con el ot y las averias
df_otc_averia = df_ot_averia_camion.rename(columns={'NºOTC': 'ot'}).dropna(subset='ot')

#Se juntan e invierten columnas
df_ot_averia_camion = pd.melt(
    df_otc_averia,
    id_vars='ot',
    value_vars=averias
).dropna(subset='value').loc[:, ['ot', 'variable']].rename(columns={'variable': 'averia'})

#Se limpian los datos
df_ot_averia_camion['averia'] = df_ot_averia_camion['averia'].str.lstrip()
df_ot_averia_camion['averia'] = df_ot_averia_camion['averia'].str.rstrip()
df_ot_averia_camion['averia'] = df_ot_averia_camion['averia'].str.capitalize()

#df_ot_averia_camion

In [41]:
#MERGE
#Merge ot
df_ot_averia_camion = pd.merge(df_ot_averia_camion, df_ot_camion.loc[:, ['id_ot', 'ot']], how='left', on='ot')
df_ot_averia_camion.dropna(subset=['id_ot'], inplace=True) #hay averias que no tienen ot porque solo he cogido los camiones con numero
df_ot_averia_camion['id_ot'] = df_ot_averia_camion['id_ot'].astype(int)
#Se elimina la columna ot
df_ot_averia_camion = df_ot_averia_camion.drop('ot', axis=1)

#Merge averia
df_ot_averia_camion = pd.merge(df_ot_averia_camion, df_averia, how='left', on='averia')
#Se elimina la columna averia
df_ot_averia_camion = df_ot_averia_camion.drop('averia', axis=1)

df_ot_averia_camion

     id_ot  id_averia
0        4          1
1        8          1
2       31          1
3       35          1
4       37          1
..     ...        ...
765    913         12
766   1078         12
767    935         13
768    954         13
769   1049         13

[770 rows x 2 columns]

# OT REPUESTO

In [42]:
"""
#Se crea la lista de averias
df_tipo_repuesto = df_repuesto.drop('id_repuesto', axis=1)
df_tipo_repuesto['repuesto'] = df_tipo_repuesto['repuesto'].str.lower()
repuestos = df_tipo_repuesto['repuesto'].tolist()

#Se crea la tabla con el ot y las averias
df_otc_repuesto = df_ot_repuesto.rename(columns={'NºOTC': 'ot'}).dropna(subset='ot')

#Se juntas e invierten columnas
df_ot_repuesto = pd.melt(
    df_otc_repuesto,
    id_vars='ot',
    value_vars=repuestos
).dropna(subset='value').loc[:, ['ot', 'variable']].rename(columns={'variable': 'repuesto'})

#Se limpian los datos
df_ot_repuesto['repuesto'] = df_ot_repuesto['repuesto'].str.lstrip()
df_ot_repuesto['repuesto'] = df_ot_repuesto['repuesto'].str.rstrip()
df_ot_repuesto['repuesto'] = df_ot_repuesto['repuesto'].str.capitalize()

#df_ot_repuesto
"""

"\n#Se crea la lista de averias\ndf_tipo_repuesto = df_repuesto.drop('id_repuesto', axis=1)\ndf_tipo_repuesto['repuesto'] = df_tipo_repuesto['repuesto'].str.lower()\nrepuestos = df_tipo_repuesto['repuesto'].tolist()\n\n#Se crea la tabla con el ot y las averias\ndf_otc_repuesto = df_ot_repuesto.rename(columns={'NºOTC': 'ot'}).dropna(subset='ot')\n\n#Se juntas e invierten columnas\ndf_ot_repuesto = pd.melt(\n    df_otc_repuesto,\n    id_vars='ot',\n    value_vars=repuestos\n).dropna(subset='value').loc[:, ['ot', 'variable']].rename(columns={'variable': 'repuesto'})\n\n#Se limpian los datos\ndf_ot_repuesto['repuesto'] = df_ot_repuesto['repuesto'].str.lstrip()\ndf_ot_repuesto['repuesto'] = df_ot_repuesto['repuesto'].str.rstrip()\ndf_ot_repuesto['repuesto'] = df_ot_repuesto['repuesto'].str.capitalize()\n\n#df_ot_repuesto\n"

In [43]:
"""
#MERGE
#Merge ot
df_ot_repuesto = pd.merge(df_ot_repuesto, df_ot.loc[:, ['id_ot', 'ot']], how='left', on='ot')
#Se elimina la columna ot
df_ot_repuesto = df_ot_repuesto.drop('ot', axis=1)

#Merge repuesto
df_ot_repuesto = pd.merge(df_ot_repuesto, df_repuesto, how='left', on='repuesto')
#Se elimina la columna averia
df_ot_repuesto = df_ot_repuesto.drop('repuesto', axis=1)


df_ot_repuesto
"""

"\n#MERGE\n#Merge ot\ndf_ot_repuesto = pd.merge(df_ot_repuesto, df_ot.loc[:, ['id_ot', 'ot']], how='left', on='ot')\n#Se elimina la columna ot\ndf_ot_repuesto = df_ot_repuesto.drop('ot', axis=1)\n\n#Merge repuesto\ndf_ot_repuesto = pd.merge(df_ot_repuesto, df_repuesto, how='left', on='repuesto')\n#Se elimina la columna averia\ndf_ot_repuesto = df_ot_repuesto.drop('repuesto', axis=1)\n\n\ndf_ot_repuesto\n"

# OT REPUESTO NUM CAMION
#ELIMINAR CUANDO SE TENGAN LOS DATOS BUENOS DE OT

In [44]:
#Se crea la lista de repuestos
df_tipo_repuesto = df_repuesto.drop('id_repuesto', axis=1)
df_tipo_repuesto['repuesto'] = df_tipo_repuesto['repuesto'].str.lower()
repuestos = df_tipo_repuesto['repuesto'].tolist()

#Se crea la tabla con el ot y los repuestos
df_otc_repuesto = df_ot_repuesto_camion.rename(columns={'NºOTC': 'ot'}).dropna(subset='ot')

#Se juntas e invierten columnas
df_ot_repuesto_camion = pd.melt(
    df_otc_repuesto,
    id_vars='ot',
    value_vars=repuestos
).dropna(subset='value').loc[:, ['ot', 'variable']].rename(columns={'variable': 'repuesto'})

#Se limpian los datos
df_ot_repuesto_camion['repuesto'] = df_ot_repuesto_camion['repuesto'].str.lstrip()
df_ot_repuesto_camion['repuesto'] = df_ot_repuesto_camion['repuesto'].str.rstrip()
df_ot_repuesto_camion['repuesto'] = df_ot_repuesto_camion['repuesto'].str.capitalize()

#df_ot_repuesto_camion

In [45]:
#MERGE
#Merge ot
df_ot_repuesto_camion = pd.merge(df_ot_repuesto_camion, df_ot_camion.loc[:, ['id_ot', 'ot']], how='left', on='ot')
df_ot_repuesto_camion.dropna(subset=['id_ot'], inplace=True)
#Se elimina la columna ot
df_ot_repuesto_camion = df_ot_repuesto_camion.drop('ot', axis=1)
df_ot_repuesto_camion['id_ot'] = df_ot_repuesto_camion['id_ot'].astype(int)

#Merge repuesto
df_ot_repuesto_camion = pd.merge(df_ot_repuesto_camion, df_repuesto, how='left', on='repuesto')
#Se elimina la columna repuesto
df_ot_repuesto_camion = df_ot_repuesto_camion.drop('repuesto', axis=1)

df_ot_repuesto_camion

   id_ot  id_repuesto
0    103            1
1    910            1
2    910            2
3    918            2
4    910            3
5    918            3
6    918           11

# DBEAVER

In [46]:
from sqlalchemy import create_engine

# Establecer la conexión a la base de datos PostgreSQL
engine = create_engine('postgresql://postgres:postgres@3.69.128.37:5432/postgres')

#OJO CAMBIARLOS CUANDO SE TENGAN LOS DATOS BUENOS DE OT
# df_ot_camion.to_sql(name='tbl_ot', con=engine, schema='attsf', if_exists='append', index=False)
# df_ot_averia_camion.to_sql(name='tbl_ot_averia', con=engine, schema='attsf', if_exists='append', index=False)
# df_ot_repuesto_camion.to_sql(name='tbl_ot_repuesto', con=engine, schema='attsf', if_exists='append', index=False)

engine.dispose()


import pyodbc 
"""
engine = create_engine('mssql+pyodbc://LisData:2023Attsf#@attsrabuni.ddns.net/AttsfTd?driver=SQL+Server')

df_ot.to_sql(name='tbl_ot', con=engine, schema='attsf', if_exists='append', index=False)
df_ot_averia.to_sql(name='tbl_ot_averia', con=engine, schema='attsf', if_exists='append', index=False)
df_ot_repuesto.to_sql(name='tbl_ot_repuesto', con=engine, schema='attsf', if_exists='append', index=False)

engine.dispose()
"""

"\nengine = create_engine('mssql+pyodbc://LisData:2023Attsf#@attsrabuni.ddns.net/AttsfTd?driver=SQL+Server')\n\ndf_ot.to_sql(name='tbl_ot', con=engine, schema='attsf', if_exists='append', index=False)\ndf_ot_averia.to_sql(name='tbl_ot_averia', con=engine, schema='attsf', if_exists='append', index=False)\ndf_ot_repuesto.to_sql(name='tbl_ot_repuesto', con=engine, schema='attsf', if_exists='append', index=False)\n\nengine.dispose()\n"